# Ignorar el núcleo de WordPress si accidentalmente lo metes
wp-admin/
wp-includes/
wp-config.php
index.php
*.php
.htaccess
/node_modules/

# PERMITIR el contenido personalizado
!wp-content/

# Ignorar logs y archivos temporales
*.log
wp-content/cache/
wp-content/backups/